@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Russo One', sans-serif;
}

body {
	text-align: center;
	background-image: url(./fon.jpg);
	color: white;

}

header {
	font-size: 30px;
	padding: 35px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px;
	font-size: 25px;
}

.menu {
	margin: auto;
}

.btn {
	background-color: rgb(136, 255, 0);
	color: rgb(39, 38, 0);
	margin: 30px auto;
	padding: 8px;
	width: 250px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.2s;
}

.btn:hover {
	scale: 1.1;
	transition: 0.2s;
}

.game-header {
	display: flex;
	align-items: center;
}

.reset {
	width: 150px;
}

.lvl {
	flex-grow: 1;
	text-align: left;
}

.null {
	padding-top: 0;
}